<!-- Heading with Toggle functionality -->
<div class="card-header <%= conv_heading_class(@contact) %>" id="heading<%= conversation.id %>">
  <h5 class="mb-0">
    <button class="btn w-90 text-start" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse<%= conversation.id %>" 
            aria-expanded="true" 
            aria-controls="collapse<%= conversation.id %>">
      <span class="contact-name-notif text-white" style="font-size: 1.75rem;"><%= @recipient.name %></span>  
    </button>
    <%= link_to "X", 
        close_private_conversation_path(conversation), 
        class: 'close-conversation', 
        title: 'Close', 
        remote: true, 
        method: :post %>
  </h5>
</div>
<!-- Conversation window's content -->
<div id="collapse<%= conversation.id %>" class="collapse show" aria-labelledby="heading<%= conversation.id %>" data-bs-parent="#pc<%= conversation.id %>">
<%= render add_to_contacts_partial_path(@contact) %>